* {
    margin: 0;
    padding: 0;
}

.clear: none|left|right|both|initial|inherit;
a {
    color: #fff;
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    /*background: #fff;*/
    width: 100%;
    height: 100%;
    color: #777;
    font-family: 'Germania One', cursive;
    font-family: 'Courgette', cursive;
    overflow-x: hidden;
    font-size: 100%;
}


/*-----------------begin menu-------------*/

.open {
    position: fixed;
    top: 10px;
    right: 30px;
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    z-index: 8;
}

.open:hover {
    opacity: 0.8;
}

.open span {
    display: block;
    float: left;
    clear: both;
    height: 4px;
    width: 40px;
    border-radius: 20px;
    background-color: #777;
    position: absolute;
    right: 3px;
    top: 3px;
    overflow: hidden;
    transition: all 0.4s ease;
}

.open span:nth-child(1) {
    margin-top: 10px;
    z-index: 9;
}

.open span:nth-child(2) {
    margin-top: 25px;
}

.open span:nth-child(3) {
    margin-top: 40px;
}

.sub-menu {
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    height: 0;
    width: 0;
    right: 0;
    top: 0;
    position: absolute;
    background-color: rgba(100, 100, 100, 0.54);
    border-radius: 50%;
    z-index: 18;
    overflow: hidden;
    color: #fff;
    font-size: 200%;
    width: 100%;
    display: block;
    float: left;
    line-height: 150%;
}

.sub-menu li {
    display: block;
    float: right;
    clear: both;
    height: auto;
    padding-bottom: 12px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sub-menu li:hover {
    -webkit-animation: bounce .3s;
    animation: flash .3s;
}

.sub-menu li:first-child {
    margin-top: 180px;
}

.sub-menu li:nth-child(1) {
    margin-right: 270px;
    -webkit-transition-delay: 0.05s;
}

.sub-menu li:nth-child(2) {
    margin-right: 250px;
    -webkit-transition-delay: 0.20s;
}

.sub-menu li:nth-child(3) {
    margin-right: 210px;
    -webkit-transition-delay: 0.35s;
}

.sub-menu li:nth-child(4) {
    margin-right: 210px;
    -webkit-transition-delay: 0.50s;
}

.sub-menu li:nth-child(5) {
    margin-right: 150px;
    -webkit-transition-delay: 0.65s;
}

.oppenned .sub-menu {
    opacity: 1;
    width: 400px;
    height: 500px;
}

.oppenned span:nth-child(2) {
    overflow: visible;
}

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
    z-index: 100;
    transform: rotate(45deg);
}

.oppenned span:nth-child(1) {
    transform: rotate(45deg) translateY(12px) translateX(12px);
}

.oppenned span:nth-child(2) {
    width: 400px;
    height: 500px;
    right: -160px;
    top: -160px;
    border-radius: 50%;
    background-color: rgba(200, 200, 200, 0.54);
}

.oppenned span:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px) translateX(10px);
}


/*-----------------end menu-------------*/


/*.oppenned li { margin-right: 168px; }*/

.headertext {
    color: #fff;
    white-space: nowrap;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
}


/************************************************************/

#data {
    width: 100%;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}


/***********************************************************************/

.constyle {
    padding-top: 100px;
    display: flex;
    align-items: center;
    /* Vertical center alignment */
    justify-content: center;
    /* Horizontal center alignment */
}

.constyle >div:nth-child(2) {
    font-size: 120%;
}

.constyle >div>img {
    display: block;
    width: 100%;
    height: fit;
    object-fit: cover;
}

.constyle>div>h2 {
    font-family: 'Germania One';
    font-size: 200%;
    color: #777;
    text-transform: uppercase;
    padding-left: 5%;
}

.constyle>div>p {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    text-align: justify;
    align-items: center;
}

.constyletitle {
    text-align: right;
    white-space: nowrap;
    font-size: 200%;
    z-index: 1;
}

.constyletitle>span {
    font-size: 300%;
}


/****************************footer*************************************/

.footer {
    display: flex;
    align-items: center;
    /* Vertical center alignment */
    justify-content: center;
    /* Horizontal center alignment */
    width: 100%;
    height: 180px;
    background-color: #eee;
}


/*----------------------logo effect-----------------------------*/

.logo {
    position: fixed;
    top: 0px;
    left: 30px;
    display: block;
    cursor: pointer;
    font-size: 300%;
    z-index: 999;
    font-family: 'Germania One';
}

.elegantshadow {
    color: #FFF;
    /*background-color: #e7e5e4;*/
    letter-spacing: .05em;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181;
}

.deepshadow {
    color: #e0dfdc;
    /* background-color: #fff;*/
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424;
}

.insetshadow {
    color: #202020;
    letter-spacing: .1em;
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

.retroshadow {
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}


/*------------------------------------end-----------------------*/

img {
    width: 100%;
    height: 100%;
}

.imgbulr {
    display: block;
    position: relative;
}

.imgbulr:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}


/*******************************************/

.single_service {
    padding: 5%;
}

.single_service>h4,
h5 {
    font-family: 'Germania One';
}

.more {
    cursor: pointer;
}

@media only screen and (max-width:992px) {
    .headertext {
        top: 40%;
        left: 10%;
    }
    .headertext>p:nth-child(1) {
        font-size: 200%;
    }
    .headertext>p:nth-child(2) {
        font-size: 150%;
        text-align: right;
        line-height: 180%;
    }
    .constyletitle {
        margin-top: +6%;
        margin-bottom: -6%;
        margin-right: +10%;
    }
    .constyle>div>h2 {
        padding-top: 15%;
    }
    .imgbulr:before {
        -moz-box-shadow: inset 0px 0px 20% 20% rgba(255, 255, 255, 1);
        -webkit-box-shadow: inset -15px 0px 150px 150px rgba(255, 255, 255, 1);
        box-shadow: inset 0px 0px 20% 20% rgba(255, 255, 255, 1)*/
    }
}

@media only screen and (min-width:992px) {
    .roworder1>div:nth-child(1) {
        order: 7
    }
    .roworder1>div:nth-child(2) {
        order: 1
    }
    .roworder1>div:nth-child(3) {
        order: 2
    }
    .constyletitle {
        transform: rotate(270deg);
        transform-origin: 90% 90%;
    }
    .roworder2>div:nth-child(1) {
        order: 1
    }
    .roworder2>div:nth-child(2) {
        order: 12
    }
    .roworder2>div:nth-child(3) {
        order: 6
    }
    .constyle>div>p {
        padding-left: 10%;
        padding-right: 10%;
    }
    .constyle>div>h2 {
        padding: 10%;
    }
    .headertext {
        top: 50%;
        left: 10%;
        line-height: 500%;
    }
    .headertext>p:nth-child(1) {
        font-size: 600%;
    }
    .headertext>p:nth-child(2) {
        font-size: 300%;
        text-align: right;
        padding-right: 10%;
    }
    .constyle {
        padding: 5%;
    }
    .headerImage {
        width: 100%;
        height: 100%;
    }
    .imgbulr:before {
        -moz-box-shadow: inset 0px 0px 20% 20% rgba(255, 255, 255, 1);
        -webkit-box-shadow: inset -15px 0px 40px 40px rgba(255, 255, 255, 1);
        box-shadow: inset 0px 0px 20% 20% rgba(255, 255, 255, 1)*/
    }
}


/****************header********************/

.headerImage {
    width: 103%;
    height: 115%;
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: blue;
}

.content {
    position: relative;
    width: 100%;
}

.box {
    width: 90%;
    background: #eee;
    margin: 40px auto;
}

.effect2 {
    position: relative;
}

.effect2:before,
.effect2:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.effect2:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}